* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, p, a {
    text-align: center;
    color: #000;
}

h1 {
    margin: 5px 0 5px 0;
}

.header_underlined {
    border-bottom: #000 1px solid;
    padding-bottom: 5px;
}

p.bold {
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.nav-dropbar {
    position: relative;
    display: inline-block;
    width: 100%;
}

.button {
    padding: 10px;
    border-radius: 20px;
    border: #000 2px solid;
    color: #000;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.btn-back {
    padding: 10px;
    border-radius: 20px;
    border: #000 2px solid;
    color: #000;
    display: block;
    text-align: center;
}

.btn-back:hover {
    background-color: #000;
    color: #fff;
}

.btn-create {
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    border: #000 2px solid;
    color: #fff !important;
    display: block;
    text-align: center;
    background: #2579A9 !important;
}

.btn-create:hover {
    background-color: #fff !important;
    color: #2579A9 !important;
}

input.delete-button {
    width: 70px !important;
    padding: 2px 10px !important;
    margin-left: 10px;
    border-radius: 5px !important;
}

input[type=submit] {
    width: 100%;
    padding: 10px 39vw;
    border-radius: 20px;
    border: #000 2px solid;
    color: #000;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    background: red;
}

input[type=submit]:hover {
    background: #000;
    color: #fff;
}

.dropbtn {
    background-color: #2c2c2c;
    color: #f1f1f1;
    padding: 16px;
    height: 100%;
    width: 100%;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color:#f1f1f1;
    color: #2c2c2c;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c2c2c;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content a {
    color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #2c2c2c;
}

.show {
    display: block;
}

#app {
    height: 100vh;
}

#main {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}

/* Main content homepage */
#showcase {
    background-image: url(../storage/img/tempheader.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    color: #fff;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
    color: #fff;
}

#showcase p {
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
}

#showcase p.bold {
    font-weight: bold;
    color: #fff;
}

#showcase .button {
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    width: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#showcase .button:hover {
    background: #fff;
    color: #2c2c2c;
}

/* About page */
.section {
    text-align: center;
    line-height: 1.2;
    background-color: #f1f1f1;
    border-bottom: 2px solid #000;
    padding: 10px;
}

.section p {
    font-size: 20px;
}

.section2 img {
    height: 300px;
    width: 100%;
}

.section3 img {
    height: 300px;
    width: 100%;
}

/* Archive */
.accordion {
    background-color: #f1f1f1;
    color: #2c2c2c;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin: 10px 0;
}

.active, accordion:hover {
    background-color: #2c2c2c;
    color: #f1f1f1;
}

.accordion:after {
    content: '\002B';
    /* color: #2c2c2c; */
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\2212';
}

.panel-accordion {
    padding: 0 18px;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.text-block {
    margin-top: 10px;
    margin-bottom: 10px;
}

.episodes {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #000;
}

.episodes p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.episodes a.btn {
    margin-left: 50vw;
}

.episodes img {
    width: 100%;
    border: none;
}

.episodes h4 {
    text-align: center;
}

.episodes p.upload-date {
    text-align: center;
    font-size: 85%;
    border-top: 1px solid #C3C3C3;
    padding-top: 5px;
}

.episodes p.strip-description {
    border-bottom: 1px solid #C3C3C3;
}

a.buttonRead {
    text-decoration: none;
    color: #000;
    display: block;
    margin: 0 auto;
    border: 1px solid #000;
    width: 50px;
    padding: 10px 20px;
    border-radius: 10px;
}

a.buttonRead:hover {
    background: #fff;
    color: #2c2c2c;
}

/* Contact */
.contact p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.instagram {
    margin-top: 10px;
    margin-bottom: 20px;
}

.instagram a {
    color: #000;
    font-size: 50px;
    text-decoration: none;
    text-align: center;
}

i.fab {
    display: block;
    text-decoration: none;
    width: 100%;
    margin: 0 auto;
}

i.fab:hover {
    font-weight: bold;
}

.email {
    margin-top: 10px;
    margin-bottom: 10px;
}

.email a {
    color: #000;
    font-size: 50px;
    text-decoration: none;
    text-align: center;
}

i.far {
   display: block;
    text-decoration: none;
    width: 100%;
    margin: 0 auto; 
}

i.far:hover {
    font-weight: bold;
}

/* Login */

.panel {
    margin-top: 10px;
}

@media(max-width:1024px){
  .nav-main{display: none}
}

@media(min-width:1024px){
  .nav-dropbar{display: none}

  .nav-main {
        width: 100%;
        height: 60px;
        background-color: #000;
        display: flex;
        flex-wrap: wrap;
        z-index: 1000;
        position: fixed;
        top: 0;
    }

    a.navbar-brand {
        color: #fff;
        height: 100%;
        line-height: 30px;
        text-transform: uppercase;
        font-family: arial;
        font-size: 16px;
    }

    .nav-main ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 6vw;
    }

    .nav-main ul li {
        list-style: none;
        line-height: 60px;
    }

    .nav-main ul li a {
        display: block;
        height: 100%;
        padding: 0 10px;
        text-transform: uppercase;
        text-decoration: none;
        color: #f1f1f1;
        background: #000;
        font-family: arial;
        font-size: 16px;
    }

    .nav-main ul li a:hover {
        color: red;
    }

    .dropdown-menu {
        background-color: #000;
        padding: 10px 0;
        text-align: center;
    }

    .dropdown-menu li a:hover {
        background-color: #000;
    }

    li.dropdown {
        width: 200px;
    }

    .dropdown a:hover {
        background-color: #000;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    #showcase {
        margin-top: 60px;
    }

    #showcase h1 {
        font-size: 50px;
        line-height: 1.2;
        color: #fff;
        margin-top: 30px;
    }

    #main {
        margin-top: 60px;
        display: block;
    }

    #main h1 {
        margin-top: 80px;
    }

    .comicwidth {
        width: 800px;
        margin: 0 auto;
    }

    /* About */
    .section h1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .section2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title title"
        "characterpic charactertext";
        grid-gap: 10px;
    }

    .abouttitle {
        grid-area: title;
    }

    .characterpic {
        grid-area: characterpic;
    }

    .charactertext {
        grid-area: charactertext;
    }

    /* Albums */
    .comment_counter {
        display: block;
    }
    
    a.comment_counter {
        text-align: center;
    }

    /* Login */
    .panel {
        margin-top: 80px;
    }
}

@media(min-width:1200px){
    /* General */
    .btn-back {
        width: 200px;
        margin: 10px auto;
    }

    .btn-create {
        width: 200px;
        margin: 10px auto;
    }

    input[type=submit] {
        width: 200px;
        padding: 10px;
        margin: 0 auto;
    }    

    /* Home */
    .home_buttons {
        margin-top: 20px;
    }

    .home_buttons a {
        display: inline-block;
        margin-left: 50px;
    }

    #showcase .button {
        width: 200px;
    }

    /* About */
    .section h1 {
        margin-top: 20px !important;
    }

    /* FAQ */
    .section {
        width: 1200px;
        /* display: block; */
        margin: 0 auto;
    }
}